.venv/
env/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.spec
/.idea/
/.vscode/
*.DS_Store
Thumbs.db
~$*
*.swp
*.tmp
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.coverage
coverage.xml
*.egg-info/
*.bak
last_run_debug.log
*.iml
*.orig
*.rej